* {
    margin: 0;
}
body {
    background-color: lightblue;
}
.wrapper {
    position: relative;
}

.slider {
position: absolute;
display: inline-flex;
width: 500px;
background-color: red;
left: 50%;
transform: translate(-50%);

}

.slider-item {
    display: none;
    
}

.slider-item img {
    padding-bottom: 25px;
    padding-top: 15px;
    max-height: 295px;
}

.scroll_btns {
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.scroll_btn {
	background-color: #626262;
	border: none;
	width: 27px;
	height: 8px;
	cursor: pointer;
	margin-right: 20px;
}

.scroll_btn:last-child {
	margin-right: 0;
}

.scroll_btn:hover {
	background-color: #ffffff;
}
.scroll_btn:focus {
    display: none;
}

.arrow_btn {
    border: none;
    width: 32px;
    height: 32px;
    background: url(../img/arrow.png) no-repeat;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.arrow_btn:focus {
    display: none;
}

.right-btn {
    right: 0;
    transform: rotate(180deg) translateY(50%);
}

.slider-play {
    display: block;
    margin: auto;
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-iteration-count: unset;
    animation-timing-function: linear;
    
}

@keyframes fadeInOut {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.scroll__active {
	background-color: #ffffff;
}

.not-visible {
    display: none;
}

